form
	ul.cart__list
		
		li.cart__item
			span.cart__item-delete
			.cart__item-pic-wrap
				img.cart__item-pic(src="images/pic-preview.png")

			.cart__item-info
				p.cart__item-name Сёмга рулет горячего копчения
				p.cart__item-price
					span.cart__item-main-price 634
					span.cart__item-tenth 45
					span руб./кг

			.cart__item-form
				span.cart__item-less
				input.cart__item-field(type="text" value="0" maxlength="5")
				span.cart__item-form-text гр.
				span.cart__item-more

			.cart__item-summ
				span.cart__item-main-price
				span.cart__item-tenth


		li.cart__item
			span.cart__item-delete
			.cart__item-pic-wrap
				img.cart__item-pic(src="images/pic-preview.png")

			.cart__item-info
				p.cart__item-name Сёмга рулет г/к
				p.cart__item-price
					span.cart__item-main-price 634
					span.cart__item-tenth 00
					span руб./кг

			.cart__item-form
				span.cart__item-less
				input.cart__item-field(type="text" value="0" maxlength="5")
				span.cart__item-form-text гр.
				span.cart__item-more

			.cart__item-summ
				span.cart__item-main-price
				span.cart__item-tenth

		li.cart__item
			span.cart__item-delete
			.cart__item-pic-wrap
				img.cart__item-pic(src="images/pic-preview.png")

			.cart__item-info
				p.cart__item-name Сёмга рулет горячего копчения
				p.cart__item-price
					span.cart__item-main-price 634
					span.cart__item-tenth 00
					span руб./кг

			.cart__item-form
				span.cart__item-less
				input.cart__item-field(type="text" value="0" maxlength="5")
				span.cart__item-form-text гр.
				span.cart__item-more

			.cart__item-summ
				span.cart__item-main-price
				span.cart__item-tenth


	.cart__list-separator

	.cart__total-text итого:
	.cart__total
		span.cart__item-main-price 634
		span.cart__item-tenth 00

	button.cart__order(type="submit") оформить заказ