.buy-asap

	form

		.buy-asap__field-wrap
			span.buy-asap__field-name Представьтесь, пожалуйста
			input.buy-asap__field(type="text")

		.buy-asap__field-wrap
			span.buy-asap__field-name Ваш телефон
			input.buy-asap__field(type="text")

		.buy-asap__captcha
			img.buy-asap__captcha-img(src="images/captcha.png")
				
		.buy-asap__field-wrap
			span.buy-asap__field-name Введите код с картинки
			input.buy-asap__field(type="text" value="+7")

		.buy-asap__butt-pane
			button.buy-asap__butt(type="submit") Заказать