.callback

	form

		.callback__field-wrap
			span.callback__field-name Представьтесь, пожалуйста
			input.callback__field(type="text")

		.callback__field-wrap
			span.callback__field-name Ваш телефон
			input.callback__field(type="text" value="+7")

		.callback__field-wrap
			span.callback__field-name Комментарий
			textarea.callback__area

		.callback__butt-pane
			button.callback__butt(type="submit") Перезвоните мне