.features
	a.features__item(href="#")
		.features__item-hint По статистике, поход в ресторан <br />в среднем забирает 1.5 часа. <br />Мы решили доставлять еду в два раза <br />быстрее, а вы сможете провести <br />это время с большей пользой.
			.features__item-hint-arrow
		span.features__pic._deliver
		span.features__text Доставка за час

	a.features__item(href="#")
		.features__item-hint Вы оплачиваете покупки только после <br />доставки, наличными или банковской <br />картой.
			.features__item-hint-arrow
		span.features__pic._cash
		span.features__text Оплата<br />при получении

	a.features__item(href="#")
		.features__item-hint Заказывайте и получайте бонусы <br />и расплачивайтесь бонусами при<br />следующих заказах. А еще получайте <br />скидку в наших магазинах.
			.features__item-hint-arrow
		span.features__pic._discount
		span.features__text Дисконтная<br />карта