meta(name="viewport" width="960")
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
//- meta(name="viewport" content="width=device-width, initial-scale=1.0")
<link href='http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,500italic,400&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
link(href="js/jquery-ui-1.11.3.custom/jquery-ui.structure.min.css" rel="stylesheet" type="text/css")
link(href="js/slick-1.4.1/slick.css" rel="stylesheet" type="text/css")
link(href="js/fancybox-2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css")
link(href="css/style.css" rel="stylesheet" type="text/css")
script(src="js/jquery-1.11.2.min.js")
script(src="js/jquery-validation-1.13.1/jquery.validate.js")
script(src="js/jquery-validation-1.13.1/server-validation-helper.js")
script(src="js/jquery-validation-1.13.1/config.js")
script(src="js/handlebars-v3.0.0.js")
script(src="js/slimscroll-1.3.0/jquery.slimscroll.min.js")
script(src="js/jquery-ui-1.11.3.custom/jquery-ui.min.js")
script(src="js/fancybox-2.1.5/jquery.fancybox.pack.js")
script(src="js/jquery.numeric.min.js")
script(src="js/slick-1.4.1/slick.min.js")
script(src="js/framework.js")
script(src="js/utils.js")
script(src="js/blocks.js")
script(src="js/pages.js")
script(src="js/init.js")