.header
	.header__top
		.header__main
			h1.header__name
				span.header__name-big доставка
				span.header__name-small рыбы и морепродуктов на дом

			/////////////////////////////////////////
			//// Изменяем тут классы ////////////////
			/////////////////////////////////////////
			.header__entering
				a.header__profile(href="#") Даздраперма Череззаборногузадерищенко
				a.header__quit(href="#") Выход
			/////////////////////////////////////////
			//////////// Конец изменений ////////////
			/////////////////////////////////////////

			.header__phone
				.header__number 311-02-20
				div
					a.header__recall(href="#") Перезвоните мне
			

	
	.header__separator

	.header__bottom-holder
		.header__bottom-wrapper

			.header__bottom
				.header__menu
					ul.header__menu-list
						
						li.header__menu-item._selected акции
						li.header__menu-item
							a.header__menu-item-link(href="#") доставка и оплата
						li.header__menu-item
							a.header__menu-item-link(href="#") рецепты
						li.header__menu-item
							a.header__menu-item-link(href="#") компания



				.header__order
					a.header__order-link(href="#")
						.header__order-text.
							Ваш заказ: <span class="header__order-summ">0,00</span> руб.
						span.header__order-pic