.login

	.login__left
	
		form








			/////////////////////////// 	ВОТ ОНИ, ДВА ПОЛЯ, ИМ ДОБАВИЛИ НЕЙМЫ //////////////////////////////

			.login__field-wrap
				span.login__field-name Электронная почта:
				input.login__field(type="text" name="email")
			
			.login__field-wrap
				span.login__field-name Пароль
				a.login__forgot(href="#") Забыли пароль?
				input.login__field(type="password" name="password")

			///////////////////////////////////////////////////////////////////////////////////////////////////










			

			input.login__butt(type="submit" value="Войти")

	.login__right

			a.login__register(href="#") Регистрация

			.login__vk
				span.login__vk-pic
				span.login__vk-text войти через вконтакте

			.login__fb
				span.login__fb-pic
				span.login__fb-text войти через facebook