.main-menu
	.main-menu__inner
		.main-menu__head
			
			.main-menu__prelogo
			a.main-menu__logo(href="#")

		.main-menu__holder
			p.main-menu__name меню
			ul.main-menu__list

				li.main-menu__item._first
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line икра

				li.main-menu__item._second._selected
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line морепродукты

				li.main-menu__item._third
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line охлажденная

				li.main-menu__item._fourth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line замороженная

				li.main-menu__item._fifth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line горячее копчение

				li.main-menu__item._sixth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line холодное копчение

				li.main-menu__item._seventh
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line слабосоленая

				li.main-menu__item._eighth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line вяленая

				li.main-menu__item._nineth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line кулинария

				li.main-menu__item._tenth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line полуфабрикаты

				li.main-menu__item._eleventh
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line пресервы

				li.main-menu__item._twelveth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line снеки

				li.main-menu__item._thirteenth
					a.main-menu__item-link(href="#")
						p.main-menu__item-name
							span.main-menu__item-line приправы


			.main-menu__tail
