.offer-item(data-item='{\
	"img": "images/recommend1.png",\
	"name": "Форель балык с/с",\
	"price": "680.00"\
}')
	a.offer-item__link(href="#")
		.offer-item__bar-box 
			img.offer-item__label(src="images/label-new.png")
			img.offer-item__label(src="images/label-hit.png")
			img.offer-item__label(src="images/label-promo.png")
		img.offer-item__pic(src="images/recommend1.png" alt="")
		.offer-item__descr
			span.offer-item__name Форель балык с/с
			span.offer-item__price 680,00
			span.offer-item__price-text руб./кг






	.offer-item__add

		.offer-item__form

			span.offer-item__less
			input.offer-item__field(type="text" value="300" maxlength="5" data-type="weight" data-min="300")
			span.offer-item__form-text г
			span.offer-item__more
		
		.offer-item__cart
			span.offer-item__cart-pic
