.offer-item(data-item='{\
	"img": "images/recommend1.png",\
	"name": "Форель балык с/с",\
	"price": "540.00"\
}')
	a.offer-item__link(href="#")
		.offer-item__bar-box 


		
		img.offer-item__pic(src="images/recommend1.png")
		.offer-item__descr
			span.offer-item__name Форель балык с/с
			span.offer-item__price
				span.offer-item__old-price
					span.offer-item__price-crossed 680,00
					span.offer-item__price-text руб./кг
				span.offer-item__new-price 
					span.offer-item__new-price-num 540,00
					span.offer-item__price-text руб./кг
		
	.offer-item__add

		.offer-item__form

			span.offer-item__less
			input.offer-item__field(type="text" value="0" maxlength="5" data-type="item")
			span.offer-item__form-text шт.
			span.offer-item__more
		
		.offer-item__cart
			span.offer-item__cart-pic