.paginator
							
	a.paginator__back(href="#") назад

	.paginator__page-numbers
		
		a.paginator__page-link._selected(href="#") 1
		a.paginator__page-link(href="#") 2
		a.paginator__page-link(href="#") 3
		a.paginator__page-link(href="#") 4
		a.paginator__page-link(href="#") 5

	a.paginator__next(href="#") далее