.recommended

	.recommended__head
		span.recommended__title рекомендуем

	.recommended__list
		.recommended__list-inner._raw(data-interval="5000")
			div
				include ./offer-item.jade
				include ./offer-item.jade
				include ./offer-item.jade
			div
				include ./offer-item.jade
				include ./offer-item.jade
