doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
	<!--<![endif]-->
	head
		include ./includes/head.jade
	body
		include ./includes/main-menu.jade
		.page-wrapper
			include ./includes/header.jade


			.content


				.breadcrumbs

					a.breadcrumbs__item(href="#") Главная
					a.breadcrumbs__item(href="#") Компания
					span.breadcrumbs__item О компании

				h3.content-header о компании


				ul.company__menu 

					li.company__menu-item._selected
						span.company__menu-link о компании

					li.company__menu-item
						a.company__menu-link(href="#") дисконтная карта

					li.company__menu-item
						a.company__menu-link(href="#") новости

					li.company__menu-item
						a.company__menu-link(href="#") отзывы

					li.company__menu-item
						a.company__menu-link(href="#") вопрос-ответ

					li.company__menu-item
						a.company__menu-link(href="#") правовая информация

					li.company__menu-item
						a.company__menu-link(href="#") контакты


				.about

					.about__header ВСЕГДА ТОЛЬКО СВЕЖАЯ РЫБА!

					.about__pics-wrap
						img.about__pic(src="images/about-pic1.png")
						img.about__pic(src="images/about-pic2.png")
						img.about__pic(src="images/about-pic3.png")

					p.about__text Компания «Рыбный день» более 10 лет занимается поставками, переработкой и реализацией рыбы и морепродуктов в Новосибирске, на Кузбассе и в Северных регионах объемом 1,5 тыс. тонн в год. <br />Клиентами компании являются крупные сетевые ритейлеры, такие как «Ашан», «Быстроном», «Мегас» и рестораны «ЛяМезон», «Фенимор Купер» и др.<br />С 2009 года компания начала реализацию продукции через собственную одноименную розничную сеть «Рыбный день».
					p.about__text Торговая марка «Рыбный день» - это специализированные рыбные магазины. «Рыбный день» — ВСЕГДА ТОЛЬКО СВЕЖАЯ РЫБА. Это основное правило, жизненное кредо компании и оно обеспечивается на всех этапах от закупа партий у рыболовов, переработки до прилавка:

					.about__video

					p.about__text-name Экология
					p.about__text Только натуральная продукция, из экологически чистых источников.

					p.about__text-name Качественное сырье
					p.about__text При прочих равных условиях, — залог производства качественного продукта, т.к. проблема качественного сырья особенно актуальна для рыбной промышленности, поскольку качество рыбы и морепродуктов зависит от очень многих факторов, в том числе от способа вылова, заморозки, условий хранения и транспортировки. И если в приморских регионах ассортимент сырья для производителя-переработчика достаточно широк, то чем дальше от моря, тем труднее найти действительно ответственных производителей, которые тщательно проверяют и исследуют исходное сырье.

					p.about__text-name Простота
					p.about__text Не смотря на то, что пищевая промышленность 21 века тесно связана с использование консервантов, красителей, вкусовых добавок, которые не лучшим образом сказываются на здоровье человека, «Рыбный день» использует только традиционные технологии, в основе которых лежит вода, поваренная соль и низкие температуры. При производстве, транспортировке и хранении не используются «жидкий дым», консерванты. Копчение происходит исключительно на опилках (ясеневых, щепы осины и черемухи, дуба, граба, клена, яблони), поэтому продукция имеет уникальные вкусовые свойства.

					.about__site-block
						a.about__logo(href="#")
							img(src="images/about-logo.png")
						.about__site-left
							a.about__site-link(href="#") Сайт компании «Рыбный день»
							.about__site-text Подробную информацию о нашей компании и адреса фирменных магазинов вы сможете найти на сайте компании




		include ./includes/footer.jade

