doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
	<!--<![endif]-->
	head
		include ./includes/head.jade

	body
		include ./includes/main-menu.jade
		.page-wrapper
			include ./includes/header.jade

			.content

				.breadcrumbs

					a.breadcrumbs__item(href="#") Главная
					a.breadcrumbs__item(href="#") Полезные статьи
					a.breadcrumbs__item(href="#") Как устрицы попадают в Новосибирск

				h3.content-header Полезные статьи


				a.content__back(href="#") к списку статей


				.article
					h2.article__header Как устрицы попадают в Новосибирск

					.article__content
						p Устрицы жители Новосибирска смогли оценить совсем недавно, но уже за несколько лет существования на нашем рынке, они тем не менее, нашли немало поклонников. Конечно же, далеко не каждый сегодня может себе позволить постоянное потребление этого полезного и деликатесного продукта, но мы хотим рассказать о питательных свойствах устриц, чтобы вы знали, как много полезных микроэлементов они содержат. В них очень много белка, а многие мужчины (еще со времен Казановы) употребляют устрицы в пищу в качестве афродезиака.

						p Устрицы в Новосибирск везут в основном из Франции, где их специально выращивают на побережье. Чтобы они дошли до потребителей свежими и сохранили все свои вкусовые свойства, в процессе доставки им необходимо создавать специальную флору и обеспечивать им правильное питание. Ведь от этого напрямую зависит вкус самой устрицы.

						p Чтобы довезти устрицы в Новосибирск, необходимо специальное оборудование, поскольку прибыть на наши столы они должны живыми. Данный продукт перевозят в специальных резервуарах с «родной» водой. Также необходимо поддерживать в помещении, где хранятся устрицы определенный уровень температуры и влажности воздуха.

						p Время дефицита прошло, и сегодня устрицы житель Новосибирска может купить в любом приличном супермаркете, но следует знать, как не ошибиться с выбором. Знатоки рекомендуют обращать внимание в первую очередь на то, чтобы створки были плотно закрыты. Приоткрытые створки – знак того, что устрица погибла, и употреблять ее в пищу опасно для здоровья. Этот продукт в нашем городе употребляют в пищу в основном традиционно: в сыром виде, смоченные соком лимона. Часто сочетают устриц с различными салатами из свежих овощей. В ресторанах Новосибирска устрицы подают под разными соусами, с беконом, или же креветками, в сопровождении черной икрой. В целом, рецепт может быть ограничен лишь отсутствием фантазии.

						p Приобрести свежие устрицы, форель и другие рыбные и морские продукты в Новосибирске можно в компании Рыбный день.


					.article__other-articles
						h5.article__header-others Другие статьи
						ul.article__other-articles-list
							li.article__other-articles-item
								a.article__other-articles-link(href="#")
									| Тунец доплыл до Новосибирска!

							li.article__other-articles-item
								a.article__other-articles-link(href="#")
									| Филе форели: секреты оптовой торговли


		include ./includes/footer.jade

