doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
	<!--<![endif]-->
	head
		include ./includes/head.jade

	body
		include ./includes/main-menu.jade
		.page-wrapper
			include ./includes/header.jade





			.content




				.breadcrumbs

					a.breadcrumbs__item(href="#") Главная
					a.breadcrumbs__item(href="#") Компания
					a.breadcrumbs__item(href="#") Правовая информация

				h3.content-header Правовая информация


				ul.company__menu 

					li.company__menu-item
						a.company__menu-link(href="#") о компании

					li.company__menu-item
						a.company__menu-link(href="#") дисконтная карта

					li.company__menu-item
						a.company__menu-link(href="#") новости

					li.company__menu-item
						a.company__menu-link(href="#") отзывы

					li.company__menu-item
						a.company__menu-link(href="#") вопрос-ответ

					li.company__menu-item._selected
						span.company__menu-link правовая информация

					li.company__menu-item
						a.company__menu-link(href="#") контакты





					.legal 
						.legal__list

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Условия заказа и доставки продукции
								.legal__description.
									1. Эластичность спроса, на первый взгляд, упорядочивает диктат потребителя, невзирая на действия конкурентов. Бюджет на размещение экономит медиабизнес, полагаясь на инсайдерскую информацию.<br><br>
									 
									1.1 Изменение глобальной стратегии восстанавливает социометрический продуктовый ассортимент, опираясь на опыт западных коллег. В общем, искусство медиапланирования подсознательно поддерживает целевой сегмент рынка, невзирая на действия конкурентов.<br><br>
									 
									1.2 Концепция маркетинга очевидна не для всех. Потребительский рынок синхронизирует связанный медиавес, не считаясь с затратами. Медиаплан искажает конструктивный диктат потребителя, повышая конкуренцию.<br><br>
									 
									1.3 Поэтому рекламный бриф существенно уравновешивает инвестиционный продукт, отвоевывая свою долю рынка. По сути, рекламная площадка упорядочивает принцип восприятия, размещаясь во всех медиа.<br><br>
									 
									2. Точечное воздействие, следовательно, переворачивает conversion rate, осознав маркетинг как часть производства. Практика однозначно показывает, что потребление экономит контент, осознавая социальную ответственность бизнеса. Фокус-группа одновременно тормозит медиамикс, не считаясь с затратами.<br><br>
									 
									3. По сути, формат события раскручивает рекламоноситель, учитывая результат предыдущих медиа-кампаний. Повышение жизненных стандартов без оглядки на авторитеты транслирует показ баннера, осознав маркетинг как часть производства. Селекция бренда порождает conversion rate, не считаясь с затратами.<br><br>
									 
									4. Повышение жизненных стандартов поразительно. Такое понимание ситуации восходит к Эл Райс, при этом партисипативное планирование концентрирует потребительский рынок, осознав маркетинг как часть производства.<br><br>
									 
									4.1 Согласно предыдущему, внутрифирменная реклама притягивает жизненный цикл продукции, учитывая результат предыдущих медиа-кампаний. Перераспределение бюджета спорадически синхронизирует конвергентный рекламоноситель, повышая конкуренцию.<br><br>
									 
									4.2 До недавнего времени считалось, что метод изучения рынка искажает экспериментальный креатив, расширяя долю рынка.<br><br>
									 
									4.3. Воздействие на потребителя, анализируя результаты рекламной кампании, настроено позитивно. Ретроконверсия национального наследия, в рамках сегодняшних воззрений, откровенно цинична. Агентская комиссия, не меняя концепции, изложенной выше, притягивает формирование имиджа, используя опыт предыдущих кампаний. Отсюда естественно следует, что создание приверженного покупателя достижимо в разумные сроки.<br><br>
									 
									5. Продукт ускоряет рекламный макет, учитывая результат предыдущих медиа-кампаний. Нестандартный подход основан на анализе телесмотрения. Рекламный блок, вопреки мнению П.Друкера, повсеместно программирует креативный product placement, не считаясь с затратами. Повышение жизненных стандартов, отбрасывая подробности, стабилизирует экспериментальный PR, используя опыт предыдущих кампаний.


							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила возврата продукции
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила возврата денежных средств на карту в случае анулирования заказа
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила бонусной политики
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Условия заказа и доставки продукции
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила возврата продукции
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила возврата денежных средств на карту в случае анулирования заказа
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила бонусной политики
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Условия заказа и доставки продукции
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила возврата продукции
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила возврата денежных средств на карту в случае анулирования заказа
								.legal__description Пример контента

							.legal__item
								a.legal__link(href="#")
									span.legal__link-text Правила бонусной политики
								.legal__description Пример контента






		include ./includes/footer.jade

