doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
	<!--<![endif]-->
	head
		include ./includes/head.jade

	body
		include ./includes/main-menu.jade
		.page-wrapper
			include ./includes/header.jade





			.content




				.breadcrumbs

					a.breadcrumbs__item(href="#") Главная
					span.breadcrumbs__item Рецепты

				h3.content-header рецепты


				ul.company__menu

					li.company__menu-item
						a.company__menu-link(href="#") завтраки

					li.company__menu-item
						a.company__menu-link(href="#") закуски

					li.company__menu-item
						a.company__menu-link(href="#") салаты

					li.company__menu-item
						a.company__menu-link(href="#") супы

					li.company__menu-item._selected
						span.company__menu-link основные блюда

					li.company__menu-item
						a.company__menu-link(href="#") сэндвичи

					li.company__menu-item
						a.company__menu-link(href="#") низкокалорийное

					li.company__menu-item
						a.company__menu-link(href="#") детское меню

					li.company__menu-item
						a.company__menu-link(href="#") пикник


				.reciepelist

					ul.reciepelist__list

						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски

						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски

						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски

						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски


						li.reciepelist__item
							a.reciepelist__link(href="#")
								img.reciepelist__item-pic(src="images/reciepe.png")
								.reciepelist__reciepe-info
									p.reciepelist__reciepe-name Рулетики с лососем и сливочным сыром
									span.reciepelist__reciepe-type Закуски



					include ./includes/paginator.jade


				


		include ./includes/footer.jade

