doctype html
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
html 
	<!--<![endif]-->
	head
		include ./includes/head.jade

	body
		include ./includes/main-menu.jade
		.page-wrapper
			include ./includes/header.jade





			.content




				.breadcrumbs

					a.breadcrumbs__item(href="#") Главная
					a.breadcrumbs__item(href="#") Компания
					span.breadcrumbs__item Отзывы

				h3.content-header Отзывы


				ul.company__menu 

					li.company__menu-item
						a.company__menu-link(href="#") о компании

					li.company__menu-item
						a.company__menu-link(href="#") дисконтная карта

					li.company__menu-item
						a.company__menu-link(href="#") новости

					li.company__menu-item._selected
						span.company__menu-link отзывы

					li.company__menu-item
						a.company__menu-link(href="#") вопрос-ответ

					li.company__menu-item
						a.company__menu-link(href="#") правовая информация

					li.company__menu-item
						a.company__menu-link(href="#") контакты


				.review

					.review__item 
						.review__name Сергей
						.review__text Покупал свежую форель! За пять минут порезали на стейки и упаковали! Ассортимент огромный! Лучше Камшата и дешевле!


					.review__item 
						.review__name Сергей
						.review__text Все очень свежее и вкусное (хожу туда года два). Очереди в выходные просто жуть, но я думаю, что это плюс Рыбного дня — свидетельствует об отличном качестве продукции.

					.review__item 
						.review__name Сергей
						.review__text Замечательный магазин для поклонников рыбной продукции). Не могу мимо пройти никогда. Захожу за чем-нибудь определённым, выхожу с парой пакетов). Да, у них имеется в продаже кальмары, порезанные тонкой соломкой, вроде бы называется ,,Пикантный"). А его редко где встретишь в городе)

					.review__item 
						.review__name Сергей
						.review__text Покупал свежую форель! За пять минут порезали на стейки и упаковали! Ассортимент огромный! Лучше Камшата и дешевле!

					.review__item 
						.review__name Сергей
						.review__text Все очень свежее и вкусное (хожу туда года два). Очереди в выходные просто жуть, но я думаю, что это плюс Рыбного дня — свидетельствует об отличном качестве продукции.

					.review__item 
						.review__name Сергей
						.review__text Замечательный магазин для поклонников рыбной продукции). Не могу мимо пройти никогда. Захожу за чем-нибудь определённым, выхожу с парой пакетов). Да, у них имеется в продаже кальмары, порезанные тонкой соломкой, вроде бы называется ,,Пикантный"). А его редко где встретишь в городе)

					.review__item 
						.review__name Сергей
						.review__text Покупал свежую форель! За пять минут порезали на стейки и упаковали! Ассортимент огромный! Лучше Камшата и дешевле!

					.review__item 
						.review__name Сергей
						.review__text Все очень свежее и вкусное (хожу туда года два). Очереди в выходные просто жуть, но я думаю, что это плюс Рыбного дня — свидетельствует об отличном качестве продукции.

					.review__item 
						.review__name Сергей
						.review__text Замечательный магазин для поклонников рыбной продукции). Не могу мимо пройти никогда. Захожу за чем-нибудь определённым, выхожу с парой пакетов). Да, у них имеется в продаже кальмары, порезанные тонкой соломкой, вроде бы называется ,,Пикантный"). А его редко где встретишь в городе)

					.review__item 
						.review__name Сергей
						.review__text Покупал свежую форель! За пять минут порезали на стейки и упаковали! Ассортимент огромный! Лучше Камшата и дешевле!


				include ./includes/paginator.jade







		include ./includes/footer.jade

