.article {
	margin-top: 21px;
	padding: 25px 24px 28px 27px;
	background: #262626;
}

	.article__header {
		font-weight: 500;
		font-size: 24px;
		color: #ffffff;
		margin-bottom: 28px;
	}

	.article__content {
		color: #dedede;
		font-size: 14px;
		font-family: Arial, sans-serif;
		line-height: 18px;

		a {
			@include link-orange;
		}

		p {
			margin: 0 0 18px;
		}

		h2, h3, h4 {
			font-size: 18px;
			font-weight: bold;
			line-height: 20px;
			margin: 10px 0 15px;
		}

		&:after {
			content: '';
			height: 0;
			display: block;
			margin-top: 18px;
		}
	}


	.article__other-articles {
		padding-top: 23px;
		position: relative;
		clear: both;

		&:before {
			border-top: 1px solid #353535;
			border-bottom: 1px solid #353535;
			content: '';
			left: 0;
			right: 0;
			top: 3px;
			height: 1px;
			position: absolute;
		}
	}

		.article__header-others {
			font-weight: 500;
			font-size: 18px;
			color: #ffffff;
			margin-bottom: 15px;
		}

		.article__other-articles-list {
			@include cf;
			list-style: none;
			margin: 0;
			padding: 0;
		}

			.article__other-articles-item {
				font-family: Arial, sans-serif;
				line-height: 18px;
				font-size: 14px;
				color: #dedede;
				float: left;
				width: 50%;
				text-align: right;
				position: relative;
				padding: 0 22px 0 0;
				box-sizing: border-box;

				&:before {
				    content: '→';
				    position: absolute;
				    top: 0;
			    	right: 0px;
				}

				&:first-child {
					text-align: left;
					padding: 0 0 0 22px;

					&:before {
						right: auto;
				    	left: 0px;
				    	content: '←';
					}
				}
			}

				.article__other-articles-link {
					@include link-orange;
				}
