.buy-asap {
	width: 460px;
	box-sizing: border-box;
	padding: 26px 0 26px 0;
	background: #454545;
}

.buy-asap__field-wrap {
	position: relative;
	width: 265px;
	margin: 0 auto 22px auto;
}

.buy-asap__field-name {
	font-size: 18px;
	color: #cecece;
}

.buy-asap__field {
	@include input-common;
	width: 100%;
	margin-top: 5px;
}

.buy-asap__captcha {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 14px;
}

	.buy-asap__captcha-img {

	}


.buy-asap__butt-pane {
	text-align: center;
}

	.buy-asap__butt {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		font-size: 14px;
		color: #444444;
		background: url('../images/callback.png');
		height: 45px;
		line-height: 45px;
		padding: 0 38px;
		border: 0;
		box-shadow: 0px 3px 0px 0px #4c4c4c;
		cursor: pointer;
		display: inline-block;

		&:hover {
			color: #914e26;
			box-shadow: 0px 3px 1px 0px #707070;
			background: url('../images/callback-hover.png');
		}
	}