.forming {
	background: #262626;
	padding: 17px 0 0 19px;
	margin-top: 17px;
}

.forming__info-wrap {
	margin-left: -28px;
	@include cf;
}

.forming__box {
	border: 3px solid #747474;
	border-radius: 7px;
	@include cf;

	&._buyer, &._deliver {
		width: 350px;
		float: left;
		margin-left: 28px;
	}

	&._buyer {
		height: 422px;
	} 

	&._deliver {
		padding-bottom: 18px;
	}

	&._cash, &._goods, &._addition {
		width: 735px;
		margin-top: 16px;
	}
}

.forming__header {
	font-weight: bold;
	color: #ffffff;
	font-size: 20px;
	border-bottom: 3px solid #454545;
	padding-left: 18px;
	padding-top: 12px;
	padding-bottom: 10px;

	& ._cash {
		margin-bottom: -8px;
	}
}

.location-block-wrapper {
	padding-left: 18px;
	padding-top: 4px;
	width: 265px;
}

.forming__field-wrapper {
	width: 300px;
	padding-left: 18px;
	padding-top: 26px;
	position: relative;

	.forming__box._addition & {
		width: auto;
		padding-top: 10px;
	}
}

.forming__field-text {
	color: #cecece;
	font-size: 18px;
}

.forming__field {
	@include input-common;
	width: 265px;
	height: 35px;
	margin-top: 5px;

	&._discount-card {
		background: #3f3f3f;
		border: 0;
		color: #fff;
	    box-shadow: 0 2px 0px #202020;
	}
}

.forming__select {
	@include select-common;
	width: 100%;
	margin-top: 5px;
	background-position: 95.5% 50%;
}


.forming__field-text {

}

.forming__area {
	width: 265px;
	height: 151px;
	box-sizing: border-box;
	margin-top: 5px;
	padding: 10px 10px 10px 14px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #c0c0c0;

	&._big {
		width: 696px;
		margin-bottom: 21px;
	}
}

.forming__check-wrap {
	display: block;
	padding-left: 6px;
	margin-top: 16px;

	&:first-of-type {
		margin-top: 6px;
	}

	.forming__field-wrapper._address & {
		margin-top: 10px;
	}

}

.forming__check {
	vertical-align: middle;
}

.forming__check-text {
	color: #cecece;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	padding-left: 5px;

	.forming__field-wrapper._address & {
		font-weight: normal;
	}
}

.forming__check-ph {
	color: #cecece;
	font-size: 14px;
	display: block;
	font-family: Arial, sans-serif;
	padding-left: 18px;
}

.forming__cash-left {
	display: inline-block;
	vertical-align: top;
	width: 370px;
	margin-top: 21px;
	margin-bottom: 25px;
	margin-left: 16px;
}

.forming__change-card {
	@include link-orange;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 14px;
	position: relative;
	margin-top: 7px;
}

.forming__card-warning {
	margin-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #cecece;
    padding-top: 7px;
    padding-bottom: 30px;
}

	.forming__card-warning-b {
		font-weight: bold;
		color: #c5ce28;
	}

	.forming__card-warning-text {

	}


.forming__cash-right {
	display: inline-block;
	vertical-align: top;
	margin-top: -9px;
}

.forming__cash-bottom {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #cecece;
    padding: 0px 0px 21px 22px;
}

.forming__list {
	width: 694px;
	margin-left: 21px;
	margin-top: 10px;
}

.forming__list-head {

	height: 35px;

	td {
		font-family: Arial, sans-serif;
		font-size: 12px;
		color: #cecece;
		border-bottom: 3px solid #454545;
		font-style: normal;
		text-transform: none;
		font-weight: normal;
	}
}

.forming__list-row {
	height: 50px;

	td {
		border-bottom: 1px solid #454545;
	}
}

.forming__list-article {
	width: 69px;
	color: #939393;
	font-family: Arial, sans-serif;
	font-size: 12px;
	padding-left: 5px;
}

.forming__list-name {
	width: 198px;
	font-weight: bold;
	color: #b8400b;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	padding-right: 15px;

	a {
		@include link-orange(#b8400b);
	}
}

.forming__list-cost {
	width: 163px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #cecece;

	.forming__list-num {
		font-size: 16px;
		font-weight: bold;
	}
}

.forming__old-price {
    font-size: 11px;
    color: #777;
    text-decoration: line-through;
    margin-bottom: -4px;

    .forming__list-num {
    	font-size: 13px;
    }
}

.forming__list-weight {
	width: 148px;
	font-style: italic;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #cecece;

	& .forming__list-num {
		font-size: 16px;
		font-weight: bold;
		font-style: normal;
	}
}

.forming__list-sum {
	width: 116px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #cecece;
	text-align: right;
	padding-right: 14px;

	.forming__list-num {
		font-size: 18px;
		font-weight: bold;
	}

	.forming__list-head & {
		padding-right: 16px;
	}
}

.forming__goods-separator {
	height: 1px;
	margin-top: 1px;
	margin-left: 21px;
	margin-right: 20px;
	border-top: 1px solid #454545;
	border-bottom: 1px solid #454545;
}

.forming__goods-bottom {

	width: 330px;
	float: right;
	margin-right: 18px;
	margin-top: 14px;
	margin-bottom: 21px;

	& td {
		text-align: right;
	}

}

.forming__result {
	height: 30px;

	td {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 16px;
		color: #cecece;
		padding-bottom: 10px;
	}

	.forming__goods-bottom-sum {
		font-size: 13px;
	}

	.forming__goods-bottom-num {
		font-size: 18px;
	}
}

.forming__goods-bottom-sum {
	padding-right: 14px;
	width: 136px;
}

.forming__sale {
	display: none;
	height: 30px;

	td {
		font-weight: bold;
		font-size: 14px;
		color: #c5ce28;
		padding-bottom: 10px;
	}
}

.forming__delivery {
	font-size: 14px;
	font-weight: 500;
	color: #e67629;

	td {
		padding-bottom: 14px;
	}

	.forming__goods-bottom-name {

	}
	.forming__goods-bottom-sum {

	}
}

	.forming__delivery-link {
		@include link-orange;
	}



.forming__final {
	background: #373737;
	height: 53px;

	td {
		font-family: Arial, sans-serif;
		font-weight: bold;
		color: #ffffff;
		font-size: 18px;
	}

	.forming__goods-bottom-sum {
		font-size: 13px;
		font-weight: normal;
	}

	.forming__goods-bottom-num {
		font-size: 20px;
	}

}

.forming__butt-wrap {
	text-align: center;
	margin-top: 21px;
	padding-bottom: 43px;
}

.forming__butt {
	width: 189px;
	background: url('../images/continue.png');
	box-sizing: border-box;
	display: block;
	margin: 43px 0px 43px 42px;
//	padding: 17px 0 0 45px;
	height: 48px;
	margin: auto;
	border: 0;
	border-top: 1px solid #d0d577;
	border-bottom: 3px solid #575c09;
	font-weight: bold;
	color: #474b08;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		background: url('../images/continue-hover.png');
		border-top: 1px solid #e0e673;
		border-bottom: 3px solid #81881c;
		color: #5f640b;
	}
}