.legal {
	background: #262626;
	padding-top: 25px;
	padding-left: 27px;
	box-sizing: border-box;
	width: 100%;
}

	.legal__list {

	}

		.legal__item {
			box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			width: 175px;
			height: 248px;
			margin-right: 5px;
			border: 1px solid #575757;
			box-shadow: 2px 3px 0px 0px #464646;
			margin-bottom: 11px;
			background: #323232;
		}

		.legal__link {
			box-sizing: border-box;
			display: block;
			text-align: center;
			width: 100%;
			height: 100%;
			text-decoration: none;
			white-space: nowrap;
			line-height: 240px;
			padding-right: 12px;
			padding-left: 12px;
		}

			.legal__link-text {
				line-height: 14px;
				display: inline-block;
				white-space: normal;
				vertical-align: middle;
				color: #ffffff;
				font-family: Arial, sans-serif;
				font-weight: bold;
				font-style: italic;
				font-size: 12px;
				text-decoration: none;
			}


		.legal__description {
			color: #cecece;
			font-size: 14px;
			font-family: Arial, sans-serif;
			line-height: 18px;
			display: none;
			padding: 0 25px 0 30px;
		}