.section {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #262626;
    padding: 24px 24px 14px 28px;
}


.section__text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #cecece;
    margin-bottom: 10px;
}


.section__text-big {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}