.signin {
	padding: 26px 26px 18px 28px;
	margin-bottom: 37px;
	background: #262626;
	box-sizing: border-box;
	margin-top: 17px;
}

.signin__forms-wrapper {
	overflow: hidden;
}

.signin__old, .signin__new {
	width: 346px;
	float: left;
	border: 3px solid #747474;
	border-radius: 6px;
	box-sizing: border-box;
}

.signin__old {
	margin-right: 34px;
	padding-left: 29px;
	padding-right: 42px;
}

.signin__header {
	display: block;
	font-weight: bold;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 29px;
	margin-bottom: 35px;
}

.signin__header-text {
	font-family: Arial, sans-serif;
	color: #cecece;
	font-size: 14px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 21px;
}

.signin__field-wrap {
	margin-bottom: 30px;
	position: relative;
}

.signin__card-hint-img {
	display: block;
	background: url('../images/card-num.png');
	width: 259px;
	height: 86px;
	margin-top: 8px;
	margin-left: 2px;
}

.signin__field-name {
	font-size: 18px;
	color: #cecece;

	&._star {

		&:after {

			content: '*';
			color: #e2630a;

		}

	}
}

.signin__field {
	@include input-common;
	width: 265px;
	margin-top: 5px;
}

.signin__forgot {
	font-family: Arial, sans-serif;
	font-size: 12px;
	position: absolute;
	top: 7px;
	right: 6px;
	@include link;
}

.signin__butt {
	text-transform: uppercase;
	box-sizing: content-box;
	display: block;
	width: 249px;
	height: 45px;
	background: url('../images/continue.png');
	border: 0;
	border-top: 1px solid #d0d577;
	border-bottom: 3px solid #575c09;
	font-weight: bold;
	color: #474b08;
	font-size: 14px;
	cursor: pointer;

		&:hover {
			background: url('../images/continue-hover.png');
			border-top: 1px solid #e0e673;
			border-bottom: 3px solid #81881c;
			color: #5f640b;
		}

		.signin__old & {
			margin-left: 9px;
			margin-top: -11px;
		}

		.signin__new & {
			margin-left: 10px;
			margin-top: 5px;
			margin-bottom: 30px;
		}

}

.signin__vk {
	width: 269px;
	height: 52px;
	background: #507195;
	border-bottom: 3px solid #2f4359;
	cursor: pointer;
	margin-top: 42px;

	&:hover {
		background: url('../images/viavk-hover.png');
		border-bottom: 3px solid #53759a;
	}
}

.signin__vk-pic {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 18px;
	background: url('../images/viavk-pic.png');
	margin: 18px 12px 0 19px;
}

.signin__vk-text {
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
	color: #ffffff;
	border-left: 2px solid #ffffff;
	height: 36px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	box-sizing: border-box;
	margin-top: 9px;
	padding-top: 11px;
	padding-left: 16px;
}

.signin__fb {
	width: 269px;
	height: 52px;
	background: #4a66a0;
	border-bottom: 3px solid #32466d;
	cursor: pointer;
	margin-top: 22px;
	margin-bottom: 28px;

	&:hover {
		background: url('../images/viafb-hover.png');
		border-bottom: 3px solid #3e5585;
	}
}

.signin__fb-pic {
	display: inline-block;
	vertical-align: top;
	width: 13px;
	height: 24px;
	background: url('../images/viafb-pic.png');
	margin: 16px 14px 0 19px;
}

.signin__fb-text {
	text-decoration: none;
	vertical-align: top;
	display: inline-block;
	color: #ffffff;
	border-left: 2px solid #ffffff;
	height: 36px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	box-sizing: border-box;
	margin-top: 9px;
	padding-top: 11px;
	padding-left: 16px;
}

.signin__new {
	padding-left: 41px;
	padding-right: 32px;
	margin-bottom: 52px;
}

.signin__link {
	font-family: Arial, sans-serif;
	@include link-orange(#e2630a);
}

.signin__captcha {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 14px;
}

	.signin__captcha-img {

	}

.signin__text {
	margin-left: 4px;
	margin-bottom: 15px;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 12px;

	&._red {
		color: #e2630a;
		margin: 0;
	}

}
